/* Additional Fonts */
@font-face{
    font-family: 'XBold';
    src: url(../../fonts/berlin.x-bold.ttf);
}

@font-face{
    font-family: 'Titillium';
    src: url(../../fonts/titillium-web.semibold.ttf);
}