
// Chinese Color Palette //
    $prestige-blue: #2f3542;
    $anti-flash-white: #f1f2f6;
    $white: #FFFFFF;
    $bruschetta-tomato: #ff6348;

// Default Sizing //
    $heading-ratio: 0.618; //Implements Golden Ratio Sizing
    $main-margin : 0.5rem;
    $main-padding: 0.5rem;

// Default Text Align Property
    $left: left;
    $center: center;
    $right: right;
    $justify: justify;

// Box Shadow
    $small : 0.1rem 0 1rem 0.1rem rgba(0, 0, 0, 0.090) !important;
    $normal : 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;