
// Chinese Color Palette //
    $prestige-blue: #2f3542;
    $anti-flash-white: #f1f2f6;
    $white: #FFF;
    $bruschetta-tomato: #ff6348;
    $tomato : tomato;
    $black : #000;
    $ufo-green : #2ed573;
    $clear-chill : #1e90ff;
    $orange : #ffa502;
    $golden-sand : #eccc68;

// Default Sizing //
    $heading-ratio: 0.618; //Implements Golden Ratio Sizing
    $main-margin : 0.5rem;
    $main-padding: 0.5rem;

// Default Align Property //
    $left: left;
    $center: center;
    $right: right;
    $justify: justify;

// Default Box Shadow //
    $small : 0.1rem 0 1rem 0.1rem rgba(0, 0, 0, 0.090) !important;
    $normal : 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;

// Default Margin //
    $sizes: 12;

    @mixin margin-classes {
        @for $i from 1 through $sizes {
            $margin: $i * 0.25rem;
            /* margin #{$margin} */
            .margin-#{$i}  {margin: $margin;}
            .margin-tb-#{$i} {margin: $margin 0;}
        }
    }

// Default Button //
$btn-small: .5rem 1rem;
$btn-normal: .8rem 1.5rem;